#loginWindow{
	border: 1px solid #e7e7e7;
	top: 100px;
	width: 230px;
	float:none;
	margin:0 auto;
	padding-bottom: 50px;
	background-color: #f8f8f8;
	border-radius: 15px;
}

#loginWindow > input{
	position: center;
	margin-bottom: 7px;

}

#wrongUser{
	color: red;
	font-size: 6;
	float: left;
}

#name{
	float: right;
	margin-top: 0;
}

ul li{
	list-style-type: none;

}


textarea{
	width: 400px;
}

.red:hover > *{
	color: #B80000;

}
.redd{
	color: #B80000;
}
.green{
	color: green;
}

td:nth-child(6), td:nth-child(7){
	text-align: center;
}

/*img{
	border-radius: 15px;
	margin-bottom: 5px;
	clear: both;
}*/

#submitBtn{
	margin-bottom: 40px;
}

.teacherName{
	text-decoration: underline;
}
.teacherSection{

}
