#loginWindow{
	border: 1px solid #e7e7e7;;
	top: 100px;
	width: 230px;
	float:none;
	margin:0 auto;
	padding-bottom: 50px;
	background-color: #f8f8f8;
	border-radius: 15px;
}

#loginWindow > input{
	position: center;
	margin-bottom: 7px;

}

#wrongUser{
	color: red;
	font-size: 6;
	float: left;
}

#name{
	float: right;
	margin-top: 0;
}

ul li{
	list-style-type: none;

}


textarea{
	width: 400px;
}