<bla id="name" ng-model="firstname">Welcome, Admin</bla>
<h2>Evaluation Templates</h2>
<table class="table table-striped">
	<tr ng-repeat="evaluation in evaluationtemplates">
		<td><a ng-href="#/Admin/EvaluationTemplate/{{evaluation.ID}}">{{ evaluation.TitleIS }}</a></td>
	</tr>
	<tr>
		<td><a ng-href="#/Admin/Create">
			<span class="glyphicon glyphicon-plus"></span> Create new template</a></td>
	</tr>
</table>

<h2>Evaluations</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<td>Name</td>
			<td>Status</td>
			<td>Start</td>
			<td>Ends</td>
		</tr>
	</thead>
	<tbody>
	<tr ng-repeat="evaluation in evaluations">
		<td>
			
				{{ evaluation.TemplateTitleIS }}
			
		</td>
		<td>
		{{evaluation.Status}}
		</td>
		<td>
			{{ evaluation.StartDate | date : 'dd. MMMM yyyy - HH:MM' }}
		</td>
		<td>
			{{ evaluation.EndDate | date : 'dd. MMMM yyyy - HH:MM' }}
		</td>
	</tr>
	</tbody>
</table>