<h2>{{ evaluation.TitleIS }}</h2>



	<label for="textareaIntro" class="col-sm-2 control-label">Kynning</label>
	
	<p>{{evaluation.IntroTextIS}}</p>
	
	<h4>Spurningar úr námskeiði</h4>
	<ol>
	<div ng-repeat="question in evaluation.CourseQuestions">
		<li>{{question.TextIS}}</li>
		<div ng-show="question.Type == 'multiple' || question.Type == 'single'">
			<p>Svarmöguleikar:</p>
			<ol type="a">
				<li ng-repeat="answer in question.Answers track by $index">
					{{answer.TextIS}} </li>
				
			</ol>
			
		</div>
	</div>
	</ol>
	<div>
	<h4>Start date</h4>
	<input type="date" ng-model="startDate" />
	<input type="time" ng-model="startTime" />
	<h4>End date</h4>
	<input type="date" ng-model="endDate" />
	<input type="time" ng-model="endTime" />
	</div>


	
<button ng-click="submitEvaluation()" class="btn btn-success btn-large" style="margin-top:40px;">Submit Evaluation</button>

<br />
<br />
<button ng-click="redirectBack()" class="btn btn-success btn-large" style="margin-top:40px;"><i class="icon-white icon-arrow-left"></i> Back to evaluations</button>
