<h2>{{ evaluation.TitleIS }}</h2>
<input ng-model="evaluation.TitleIS" placeholder="Titillinn á kennslumatinu" class="form-control input-group-lg">
<div class="form-group">
	<label for="textareaIntro" class="col-sm-2 control-label">Kynning</label>
	<div class="col-sm-10">
		<textarea ng-model="evaluation.IntroTextIS" class="form-control" id="textareaIntro">
		</textarea>
	</div>
</div>

<div>
	<h4>Áfanga Spurningar</h4>
	<div class="" ng-repeat="question in evaluation.CourseQuestions">
		<input ng-model="question.TextIS" class="form-control" placeholder="Texti á spurningu" />
		<div ng-show="question.Type == 'multiple' || question.Type == 'single'">
			<p>Svarmöguleikar:</p>
			<ul>
				<li class="input-group" ng-repeat="answer in question.Answers track by $index">
					<span class="input-group-addon">
						<input ng-show="question.Type == 'multiple'" type="checkbox" />
						<input ng-show="question.Type == 'single'" type="radio" />
					</span>
					<input type="text" class="form-control" placeholder="New Answer" ng-model="answer.TextIS" />
				</li>
			</ul>
			<button class="btn btn-mini" ng-click="addAnswer(question)">Bæta við svarmöguleika</button>
		</div>
	</div>
	
	<div class="btn-group">
		<button class="btn btn-default" ng-click="addCourseQuestionSingle()">Ný Spurning Radio</button>
		<button class="btn btn-default" ng-click="addCourseQuestionText()">Ný Spurning Text</button>
		<button class="btn btn-default" ng-click="addCourseQuestionMultiple()">Ný Spurning Mul</button>
	</div>


	<h4>Kennara Spurningar</h4>
	<div ng-repeat="question in evaluation.TeacherQuestions">
		<input ng-model="question.TextIS" class="form-control" placeholder="Texti á spurningu" />
		<div ng-show="question.Type == 'multiple' || question.Type == 'single'">
			<p>Svarmöguleikar:</p>
			<ul>
				<li class="input-group" ng-repeat="answer in question.Answers track by $index">
					<span class="input-group-addon">
						<input ng-show="question.Type == 'multiple'" type="checkbox" />
						<input ng-show="question.Type == 'single'" type="radio" />
					</span>
					<div class ="single-answer">
					<input class="form-control" placeholder="New Answer" type="text" ng-model="answer.TextIS" />
					<input  class="form-control" placeholder="Image url (optional)" type="text" ng-model="answer.ImageURL" />
					</div>
				</li>
			</ul>
		<div class="btn-group">
			<button class="btn btn-mini" ng-click="addAnswer(question)">Bæta við svarmöguleika</button>
		</div>

		</div>
		</div>
		<div class="btn-group">
		<button class="btn btn-default" ng-click="addTeacherQuestionSingle()">Ný Spurning Radio</button>
		<button class="btn btn-default" ng-click="addTeacherQuestionText()">Ný Spurning Text</button>
		<button class="btn btn-default" ng-click="addTeacherQuestionMultiple()">Ný Spurning Mul</button>
	
	</div>
	
	
</div>

<button ng-click="submitTemplate()" class="btn btn-success btn-large" style="margin-top:40px;">Submit Template</button>

<button ng-click="redirectBack()" class="btn btn-success btn-large" style="margin-top:40px;"><i class="icon-white icon-arrow-left"></i> Back to evaluations</button>