<bla id="name" ng-model="firstname">Welcome, {{firstname}}</bla>
<h1>Evaluations</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<td>Name</td>
			<td>Status</td>
			<td>Start</td>
			<td>Ends</td>
		</tr>
	</thead>
	<tbody>
	<tr ng-repeat="evaluation in evaluations" ng-show="evaluation.Status == 'new'">
		<td>
			<a ng-href="#/Student/Evaluation/{{evaluation.ID}}">
				{{ evaluation.TemplateTitleIS  }}
			</a>
		</td>
		<td>
		{{evaluation.Status}}
		</td>
		<td>
			{{ evaluation.StartDate | date : 'dd. MMMM yyyy - HH:MM' }}
		</td>
		<td>
			{{ evaluation.EndDate | date : 'dd. MMMM yyyy - HH:MM' }}
		</td>
	</tr>
	<tr ng-repeat="evaluation in evaluations" ng-show="evaluation.Status == 'open'">
		<td>
			<a ng-href="#/Student/Evaluation/{{evaluation.ID}}">
				{{ evaluation.TemplateTitleIS  }}
			</a>
		</td>
		<td>
		{{evaluation.Status}}
		</td>
		<td>
			{{ evaluation.StartDate | date : 'dd. MMMM yyyy - HH:MM' }}
		</td>
		<td>
			{{ evaluation.EndDate | date : 'dd. MMMM yyyy - HH:MM' }}
		</td>
	</tr>
	<tr ng-repeat="evaluation in evaluations" ng-show="evaluation.Status == 'closed'">
		<td>
			<a ng-href="#/Student/Evaluation/{{evaluation.ID}}">
				{{ evaluation.TemplateTitleIS  }}
			</a>
		</td>
		<td>
		{{evaluation.Status}}
		</td>
		<td>
			{{ evaluation.StartDate | date : 'dd. MMMM yyyy - HH:MM' }}
		</td>
		<td>
			{{ evaluation.EndDate | date : 'dd. MMMM yyyy - HH:MM' }}
		</td>
	</tr>
	</tbody>
</table>
<ul>
		<li ng-repeat="course in courses">{{course.CourseID}}</li>
</ul>
<a ng-href="#/Courses">Courses</a>