<bla id="name" ng-model="firstname">Welcome, {{firstname}}</bla>
<h1>Evaluations</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<td>Course Name</td>
			<td>Course ID</td>
			<td>Name</td>
			<td>Ends</td>
		</tr>
	</thead>
	<tbody>
	<tr ng-repeat="evaluation in evaluations">
		<td>
			<a ng-href="#/Student/Evaluation/{{evaluation.ID}}">
			{{whatEval(evaluation)}}{{str}}
			</a>
		</td>
		<td>
		{{evaluation.CourseID}}
		</td>
		<td>
			{{evaluation.CourseNameIS}}
		</td>
		<td>
			
		</td>
	</tr>
	
	</tr>
	</tbody>
</table>
<ul>
		