<button class="btn btn-default" ng-click="redirectBack()"><span class="glyphicon glyphicon-arrow-left"> Back</span></button>
<h1>{{ evaluation.TitleIS }}</h1>

<h2>Spurningar úr námskeiðinu</h2>

<div ng-repeat="questions in evaluation.CourseQuestions">

	<p>{{questions.TextIS}}</p>
	<ul>
		
		<li ng-if="questions.Type == 'single'" ng-repeat="answers in questions.Answers">
			<img class="img-responsive img-rounded" ng-if="answers.ImageURL != '' " src="{{answers.ImageURL}}" alt="Image not found">
			<input type="radio" name="{{questions.TextIS}}" ng-model="ans[questions.ID]" ng-value="answers.TextIS" > {{answers.TextIS}}</input>
		

		<li ng-if="questions.Type == 'text'">
			<textarea class="form-control" ng-model="ans[questions.ID]" name="{{questions.TextIS}}"></textarea>
		</li>

		<li ng-if="questions.Type == 'multiple'" ng-repeat="answers in questions.Answers">
			<input type="checkbox" ng-model="ans" name="{{questions.TextIS}}"> {{answers.TextIS}}</input>
		</li>
	</ul>
</div>

<h2>Spurningar um kennara</h2>
<div class="teacherSection" ng-repeat="teacher in teachers">
	<h4 class="teacherName">{{teacher.FullName}}</h4>
	
	<img class="img-responsive img-thumbnail" ng-show="teacher.ImageURL != '' " src="{{teacher.ImageURL}}">
	
	<div ng-repeat="questions in evaluation.TeacherQuestions">
	<p>{{questions.TextIS}}</p>
		<ul class="">
			<li ng-if="questions.Type == 'single'" ng-repeat="answers in questions.Answers">
				<input type="radio" name="{{questions.TextIS}}" value="{{answers.TextIS}}" > {{answers.TextIS}}</input>
			</li>

			<li ng-if="questions.Type == 'text'">
				<textarea class="form-control" ng-model="ans" name="{{questions.TextIS}}"></textarea>
			</li>

			<li ng-if="questions.Type == 'multiple'" ng-repeat="answers in questions.Answers">
				<input type="checkbox" ng-model="ans" name="{{questions.TextIS}}"> {{answers.TextIS}}</input>
			</li>
		</ul>
	</div>
</div>
<div class="alert alert-success" ng-show="showIt == true">Submitted! Thank you for your contribution!</div>
<button ng-show="showIt == false" id="submitBtn" ng-click="submitEvaluation()" class="btn btn-success btn-large"><i class="icon-white icon-arrow-left"></i>Submit</button>



